<!DOCTYPE html>
<html>
<head>
    <title>Create Label</title>
</head>
<body>
    <h1>建立標籤</h1>
    <p style="color: red;">{{warning}}</p>
    <form action="/setup/" method="post">
        {% csrf_token %}
        標籤名稱：
        <input type="text" name="paperName" required/>
        <br><br>
        紙張長度: 
        <input type="text" name="paperWidth" placeholder="mm" required/>
        <br><br>
        紙張寬度: 
        <input type="text" name="paperHeight" placeholder="mm" required/>
        <br><br>
        印刷濃度: 
        <input type="text" name="density" placeholder="0~15" required/>
        <br><br>
        <!-- DPI : 
        <input type="text" name="DPI" placeholder="200、300" required/>
        <br><br> -->
        <button type="submit" name="setup">建立標籤</button>
    </form>
</body>
</html>