<!DOCTYPE html>
<html>
<head>
    <title>Cài đặt Thông tin dinh dưỡng</title>
</head>
<body>
    <h1>Tùy chọn Thông tin dinh dưỡng</h1>
    <form action="/nutritionSettings/" method="post">
        {% csrf_token %}
        <h3>Tùy chọn chính</h3>
        <input type="checkbox" value="heat" name="option">Năng lượng
        <input type="checkbox" value="portain" name="option">Chất đạm
        <input type="checkbox" value="fat" name="option">Chất béo
        <input type="checkbox" value="saturated" name="option">Chất béo bão hòa <br><br>
        <input type="checkbox" value="trans" name="option">Chất béo chuyển hóa
        <input type="checkbox" value="carbohydrate" name="option">Carbohydrates 
        <input type="checkbox" value="sugar" name="option">Đường
        <input type="checkbox" value="sodium" name="option">Natri
        <p>_____________________________________</p>
        <h3>Tùy chọn tự nguyện</h3>
        <input type="checkbox" value="cholesterol" name="option">Cholesterol 
        <input type="checkbox" value="amino" name="option">Amino
        <input type="checkbox" value="vitamins" name="option">Vitamins
        <input type="checkbox" value="minerals" name="option">Khoáng chất <br><br>
        <input type="checkbox" value="fiber" name="option">Chất xơ
        <input type="checkbox" value="potassium" name="option">Kali
        <input type="checkbox" value="calcium" name="option">Canxi
        <input type="checkbox" value="iron" name="option">Sắt <br><br>
        <button type="submit">Xác nhận</button>
    </form>
</body>
</html>