<!DOCTYPE html>
<html>
<head>
    <title>Cài đặt Thông tin dinh dưỡng</title>
</head>
<body>
    <h1>Cài đặt Thông tin dinh dưỡng</h1>
    
    <form action="/nutritionFacts/" method="post">
        {% csrf_token %}
        Tên giấy <input type="text" name="nutritionName" required/><br><br>
        
        Vị trí <input type="text" name="nutritionX" placeholder="X mm" required/><nbsp>
        <input type="text" name="nutritionY" placeholder="Y mm" required/><br><br>
        
        Mỗi phần chứa <input type="text" name="weight" placeholder="trọng lượng(g)" required/><br><br>
        
        Gói này chứa <input type="text" name="servings" placeholder="phần" required/><br><br>
        <!--  heat, portain, fat, saturated, trans, carbohydrate, sugar, sodium -->
        {% for option ,value in options.items %} 
            {% if option == "sodium"%}
                sodium <nbsp><input type="text" name="options" placeholder=" mg" required><br><br>
            {% elif option == "heat" %}
                {{value}} <input type="text" name="options" placeholder=" k" required><br><br>
            {% else %}
                {{value}} <input type="text" name="options" placeholder=" g" required><br><br>
            {% endif %}
        {% endfor %}
        <button type="submit" value="{{options}}" name="optionList">Add Nutrition Facts</button>
    </form>
</body>
</html>