<!DOCTYPE html>
<html>
<head>
    <title>設定營養標籤</title>
</head>
<body>
    <h1>營養標籤設定</h1>
    <form action="/nutritionSettings/" method="post">
        {% csrf_token %}
        <h3>八大標示</h3>
        <input type="checkbox" value="heat" name="option">熱量
        <input type="checkbox" value="portain" name="option">蛋白質
        <input type="checkbox" value="fat" name="option">脂肪
        <input type="checkbox" value="saturated" name="option">飽和脂肪 <br><br>
        <input type="checkbox" value="trans" name="option">反式脂肪
        <input type="checkbox" value="carbohydrate" name="option">碳水化合物
        <input type="checkbox" value="sugar" name="option">糖
        <input type="checkbox" value="sodium" name="option">鈉
        <p>_____________________________________</p>
        <h3>自願標示</h3>
        <input type="checkbox" value="cholesterol" name="option">膽固醇
        <input type="checkbox" value="amino" name="option">胺基酸
        <input type="checkbox" value="vitamins" name="option">維生素
        <input type="checkbox" value="minerals" name="option">礦物質 <br><br>
        <input type="checkbox" value="fiber" name="option">膳食纖維
        <input type="checkbox" value="potassium" name="option">鉀
        <input type="checkbox" value="calcium" name="option">鈣
        <input type="checkbox" value="iron" name="option">鐵 <br><br>
        <button type="submit">確認</button>
    </form>
</body>
</html>