<!DOCTYPE html>
<html>
<head>
    <title>Chỉnh sửa cài đặt mã QR</title>
</head>
<body>
    <h1>Chi tiết mã QR</h1>
    <form action="/qrCode/" method="post">
        {% csrf_token %}
        <h3>Tên&#12288;<input type="text" name="qrName" placeholder="{{itemName}}" value="{{itemName}}" required><h3>
        <h3 style="display: inline-block;">Tọa độ X&#12288;<input type="text" name="qrX" placeholder="{{X}}" value="{{X}}" required></h3> <p style="display: inline-block;">mm<p>
        <h3 style="display: inline-block;">Tọa độ Y&#12288;<input type="text" name="qrY" placeholder="{{Y}}" value="{{Y}}" required></h3> <p style="display: inline-block;">mm<p>
        <h3>tỷ lệ sửa lỗi&#12288;<input type="text" placeholder="{{ECC}}(L、M、Q、H)" name="ECC" value="{{ECC}}" required><h3></h3>
        <h3>nội dung&#12288;<input type="text" placeholder="{{content}}" name="qrContent" value="{{content}}" required><h3>
        <h3>kích cỡ&#12288;<input type="text" placeholder="{{size}}(1~10)" name="width" value="{{width}}" required><h3>
        <h3>quay&#12288;<input type="text" placeholder="{{rotation}}" name="rotation" value="{{rotation}}" required><h3>
        <button type="submit">Hoàn thành</button>
    </form>
</body>
</html>