<!DOCTYPE html>
<html>
<head>
    <title>設定QRcode</title>
</head>
<body>
    <h1>QRocde設定</h1>
    
    <form action="/qrCode/" method="post">
        {% csrf_token %}
        QRcode名稱 <input type="text" name="qrName" required/><br><br>
        QRcode位置 <input type="text" name="qrX" placeholder="X mm" required/><nbsp>
        <input type="text" name="qrY" placeholder="Y mm" required/><br><br>
        錯誤修正率 <input type="text" name="ECC" placeholder="L(低)、M、Q、H(高)" required/><br><br>
        大小 <input type="text" name="width" placeholder="寬度 1(細)~10(粗)" required/><br><br>
        旋轉 <input type="text" name="rotation" placeholder="旋轉:0、90、180、270" required/><br><br>
        掃描內容 <input type="text" name="qrContent" placeholder="https://" required/><br><br>
        <button type="submit">新增 QRcode</button>
    </form>
</body>
</html>