<!DOCTYPE html>
<html>
<head>
    <title>设定文字内容</title>
</head>
<body>
    <h1>文字设定</h1>
    
    <form action="/text/" method="post">
        {% csrf_token %}
        文字名称
        <input type="text" name="textName" required/><br><br>
        文字位置
        <input type="text" name="textX" placeholder="X mm" required/><nbsp><nbsp>
        <input type="text" name="textY" placeholder="Y mm" required/><br><br>
        文字内容
        <input type="text" name="textContent" required/><br><br>
        文字大小
        <input type="text" name="textSize" placeholder="0~8" required/><br><br>
        <button type="submit">新增文字</button>
    </form>
</body>
</html>